*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    float: right;
    height: 100vh;
    width: 100%;
}

.myform{
    margin-top: 50%;
    width: 100%;
}
@media (min-width: 600px) {
    .myform{
       width: 50%;
       
    }
    
}
.error{
    margin: 0;
    background-color: #E74F4F;
    padding: 5px 0 ;
    border-radius:  0 0 5px 5px;
    color: #fff;
    width: 100%;
    text-align: center;
    display: none;
    margin-bottom: 20px;

}


.card{
    border-radius: 10px !important;
    background-color: white;
}

.logo-principal{
    display: inline;
    text-align : center;
}
.logo-principal img{
    width: 50%;
    height: auto;
}
   
